.dark-theme {
  background-color: #000;
  color: #fff;
}
.dark-theme header {
  background-color: #000;
  color: #fff;
}
.dark-theme .settings-key-input {
  background-color: #050505;
  border-color: #383838;
  color: #fff;
}
.dark-theme .settings-key-input:focus {
  animation: darkControlAnimation 1.5s infinite;
  outline: none;
}
.dark-theme .header-info-text:hover {
  color: #535353;
}
.dark-theme .saveSettings {
  background: #5f5f5f;
  color: #fff;
}
.dark-theme .saveSettings:hover {
  background: #474747;
  color: #fff;
}
.dark-theme .saveSettings:hover:active {
  background: #242424;
}
.dark-theme #appIcon {
  background-image: url(../Assets/Themes/icon-light-theme.png);
}
.dark-theme .toggle-theme-button {
  background-image: url(../Assets/Themes/light-theme.png);
}

@keyframes darkControlAnimation {
  0% {
    background: #050505;
  }
  50% {
    background: #222222;
  }
  100% {
    background: #050505;
  }
}
.light-theme {
  background-color: #e4e4e4;
  color: #000;
}
.light-theme header {
  background: #e4e4e4;
  color: #000;
}
.light-theme .settings-key-input {
  background: #e4e4e4;
  border-color: #a5a5a5;
  color: #000;
}
.light-theme .settings-key-input:focus {
  animation: lightControlAnimation 1.5s infinite;
  outline: none;
}
.light-theme .header-info-text:hover {
  color: #969696;
}
.light-theme .saveSettings {
  background: #337ab7;
  color: #fff;
}
.light-theme .saveSettings:hover {
  background-color: #116cb8;
}
.light-theme .saveSettings:active {
  background: #0a5a9c;
}
.light-theme #appIcon {
  background-image: url(../Assets/Themes/icon-dark-theme.png);
}
.light-theme .toggle-theme-button {
  background-image: url(../Assets/Themes/dark-theme.png);
}

@keyframes lightControlAnimation {
  0% {
    background: #e4e4e4;
  }
  50% {
    background: #c2c2c2;
  }
  100% {
    background: #e4e4e4;
  }
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}

header {
  font-size: 9pt;
  display: flex;
  justify-content: space-between;
}
header .header-info-label {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-info-label .header-info-text {
  flex-grow: 1;
  padding: 0.35em 0.5em;
  letter-spacing: 1px;
  transition: color 0.5s ease;
}
header .header-app-icon {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
}
header .header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-buttons .toggle-theme-button {
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 18px;
  height: 18px;
  margin-right: 3px;
}
header .header-buttons .close-button {
  cursor: pointer;
  font-family: Webdings;
  font-size: 11pt;
  padding: 0.35em 0.5em;
}
header .header-buttons .close-button:hover {
  background: #dc3545;
}
header .header-buttons .minimize-button {
  cursor: pointer;
  font-family: Webdings;
  font-size: 11pt;
  padding: 0.35em 0.5em;
}
header .header-buttons .minimize-button:hover {
  background: gray;
}

.bind-keys-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}
.bind-keys-container .bind-keys-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macross-settings {
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.settings-label {
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.settings-key-input {
  width: 100%;
  height: 36px;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-size: medium;
  letter-spacing: 1px;
  font-weight: 400;
}

.saveSettings {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/*# sourceMappingURL=styles.css.map */
